mixin sForm()
	// start sForm
	+b.SECTION.sForm.section#sForm&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sForm
				
			+e.row.row
			+form-wrap
				+input("",'')
				+input("",'')
				+input("",'')
				+input("",'')
				+e.btn.btn.btn-primary(type="submit") Submit
				+policy
	// end sForm